#Contact {
  font-family: $font-sans;
  text-align: center;
  margin-left: 60px;
  min-height: 80vh;
  .head {
    text-align: start;
    margin-top: 100px;
    margin-bottom: 50px;
    position: relative;
    h1 {
      font-family: $font-mono;
      font-size: 26px;
      span {
        color: $green;
      }
      &::after {
        content: "";
        display: block;
        position: absolute;
        width: 300px;
        height: 1px;
        background-color: $color-extreme-low;
        top: 15px;
        right: 470px;
      }
    }
  }
  h2 {
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 38px;
  }
  p {
    margin: 0 auto;
    max-width: 500px;
    margin-bottom: 30px;
  }
  a.button {
    font-family: $font-mono;
    padding: 15px 28px;
    font-size: 18px;
    border-radius: 5px;
    display: inline-block;
    margin: 20px 0;
    font-weight: 600;
    &:hover {
      background-color: $green-tint;
    }
  }
}
